header {
    background-color: #326437;
}

a, h3 {
    font-size: 30px;
}

a, h1, h2, h3, h4, a, p , label{
    font-family: 'Rancho', cursive;
    color: #326437;
}

a, p {
    color: #ffffff !important;
}

button {
    font-family: 'Rancho', cursive !important;
    font-size: 30px !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    border: 2px solid #0c7c24;
    background-color: #326437;
    width: 240px;
    height: 52px;
}

.class-btnCerrar{
    background-color: #D70A0A;
    border: 2px solid #D70A0A;
}

footer {
    background-color: #73E19D;
}

.class-align-left{
    text-align: right;
}

.form-control{
    width: 504px !important;
}

.modal-fade{
    background-color: #F6F6F6;
}